//- game_object {name, description, parent, project, files}
form(role="form", method="post", action="/admin_panel/gameobjects/new").form-horizontal
	.form-group
		label(for="name").control-label.col-md-3 Nombre
		.col-md-6
			input(id="name", placeholder="Nombre", type="text", name="name", value=(game_object.name ? game_object.name : "")).form-control

	.form-group
		label(for="description").control-label.col-md-3 Descripción
		.col-md-6
			textarea(id="description", name="description").form-control
				= game_object.description ? game_object.description : ""

	.form-group
		label(for="project").control-label.col-md-3 Proyecto
		.col-md-6
			select(id="project", name="project").form-control
				- for(var i = 0; i < projects.length; i++)
					- if (game_object.project == projects[i].id)
						option(value=projects[i].id, selected=true)= projects[i].name
					- else
						option(value=projects[i].id)= projects[i].name
			input(id="hidden_project", name="project", type="hidden", disabled=true, value="")

	.form-group
		label(for="parent").control-label.col-md-3 Objeto Padre
		.col-md-6
			select(id="parent", name="parent").form-control
				option(value="", data-project="") Ninguno
				- for(var i = 0; i < parents.length; i++)
					- var branch = "";
					- for (var j = 0; j < parents[i].branch.length; j++)
						- branch += parents[i].branch[j].toString() + " "
					option(value=parents[i].id, data-project=parents[i].project.toString(), data-branch=branch)= parents[i].name
	input(id="branch", name="branch", type="hidden", value="")

	.form-group
		label(for="users").control-label.col-md-3 Usuarios
		.col-md-6
			.help-block Usuarios que serán asignados al objeto
			- if (assigned_users)
				- for (var j = 0; j < assigned_users.length; j++)
					- for (var k = 0; k < assigned_users[j].objects.length; k++)
						- if (assigned_users[j].objects[k].game_object == game_object.id)
							.users
								.form-group
									.col-md-offset-3.col-md-9
										button(id="del_0", type="button").btn.btn-danger.btn-sm.pull-right Eliminar
								.form-group
									label.control-label.col-md-3 Usuario
									.col-md-9
										select(id="id_0", name="user_id").form-control
											option(value="") Ninguno
											- for (var i = 0; i < users.length; i++)
												-if (users[i].id == assigned_users[j].id)
													option(value=users[i].id, selected=true)= users[i].username
												- else
													option(value=users[i].id)= users[i].username

								.form-group
									label.control-label.col-md-3 Tarea
									.col-md-9
										select(id="task_0", name="user_task").form-control
											option(value="")
											- for (var i = 0; i < tasks.length; i++)
												- if (tasks[i] == assigned_users[j].objects[k].task)
													option(value=tasks[i], selected=true)= (tasks[i] === "code" ? "Código" : (tasks[i] === "music" ? "Música" : (tasks[i] === "design" ? "Diseño" : "")))
												- else
													option(value=tasks[i])= (tasks[i] === "code" ? "Código" : (tasks[i] === "music" ? "Música" : (tasks[i] === "design" ? "Diseño" : "")))

								.form-group
									label.control-label.col-md-3 Descripción tarea
									.col-md-9
										textarea(id="descr_0", name="user_task_descr", rows="4").form-control
											= assigned_users[j].objects[k].task_description
								hr
								.form-group
									.col-md-12
										button(type="button")#add_user.btn.btn-default.pull-right Agregar Usuario
			- else
				.users
					.form-group
						.col-md-offset-3.col-md-9
							button(id="del_0", type="button", style="display: none").btn.btn-danger.btn-sm.pull-right Eliminar
					.form-group
						label.control-label.col-md-3 Usuario
						.col-md-9
							select(id="id_0", name="user_id").form-control
								option(value="") Ninguno
								- for (var i = 0; i < users.length; i++)
									option(value=users[i].id)= users[i].username

					.form-group
						label.control-label.col-md-3 Tarea
						.col-md-9
							select(id="task_0", name="user_task", disabled).form-control
								option(value="")
								- for (var i = 0; i < tasks.length; i++)
									option(value=tasks[i])= (tasks[i] === "code" ? "Código" : (tasks[i] === "music" ? "Música" : (tasks[i] === "design" ? "Diseño" : "")))

					.form-group
						label.control-label.col-md-3 Descripción tarea
						.col-md-9
							textarea(id="descr_0", name="user_task_descr", rows="4", disabled).form-control
				hr
				.form-group
					.col-md-12
						button(type="button", disabled)#add_user.btn.btn-default.pull-right Agregar Usuario

	.form-group
		.col-md-offset-3.col-md-6
			button(type="submit").btn.btn-primary Guardar
			a(href="/admin_panel/users").btn.btn-link Cancelar

script(src="/js/game_object_form.js", async)
